__pycache__*/
logs*/
*.log
.env
**/.env
APIS/.env
../metadata/.env
configs/jsons/camera_details.json
configs/jsons/RFID_details.json
configs/raw_jsons/get_profile.json
crons/nohup.out
notebooks/tasks.ipynb
utils/segment/__pycache__/__init__.cpython-310.pyc
utils/segment/__pycache__/general.cpython-310.pyc
configs/raw_jsons/get_profile.json
APIS/Live_Video.py
configs/jsons/top_class_category.json
nohup.out
notebooks/test_auto_restart.py
crons/streamlit.log
crons/nohup.out
notebooks/https_test.py
notebooks/small_changes.ipynb
crons/nohup.out
notebooks/small_changes.ipynb
utils/segment/__pycache__/__init__.cpython-310.pyc
